<div class="section">
  <div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title"><%= @item.name %></h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= link_to "Refresh", refresh_item_path(@item), :class => "button" %>
        </div>
        <div class="level-item">
          <%= link_to "Delete", item_path(@item), :method => :delete, :class => "button is-danger" %>
        </div>
      </div>
    </div>
    <% @listings.each do |listing| %>
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <%= image_tag listing.photo_url %>
            </figure>
          </div>
          <div class="media-content" >
            <div class="content">
              <p>
                <strong><%= listing.title %></strong>
                <small><%= humanized_money_with_symbol listing.price %></small>
                <br>
                <%= listing.short_description %>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <%= link_to "Link", listing.link, :class => "level-item" %>
              </div>
            </nav>
          </div>
        </article>
      </div>
    <% end %>
  </div>
</div>